body {
    background-color: black;
    color: white;

    font-family: "Noto Sans Mono";
}

.container {
    align-items: center;
    text-align: center;

}

.task_container {
    font-size: 13px;
    text-align: left;

    background: #191919;
    color: white;

    padding: 10px;
    margin: 10px;

    border: 2px #1e1e1e solid;
    border-radius: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    max-width: 100%;
}


.title_input {
    font-family: "Noto Sans Mono";
    font-size: 13px;

    height: 5%;
    width: 50%;

    background: #191919;
    color: white;

    padding: 10px;

    border: 2px #1e1e1e solid;
    border-radius: 10px;

    
    transition: 0.3s;
}

.title_input:focus {
    border-bottom-color: white;
    outline: none;
}

button {
    font-family: "Noto Sans Mono";
    font-size: 13px;
    
    background: #191919;
    color: white;

    padding: 10px;
    margin: 5px;

    border: 2px #1e1e1e solid;
    border-radius: 10px;

    transition: 0.3s;
}

button:hover {
    background-color: rgb(30, 30, 30);

    cursor: pointer;
}

.version_text {
    position:absolute;
    bottom: 0;
    right: 0;

    margin: 10px;

    user-select: none;
}

#toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #191919;
    color: #fff;

    border: 2px #1e1e1e solid;
    border-radius: 10px;

    padding: 10px;

    user-select: none;
}

.checkbox-container {
    display: flex; 
    align-items: center; 
    margin: 0px;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 2px solid #ccc;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; 

    transition: all 0.3s ease;
}

.checkbox:hover {
    border: 2px solid white;
}

@media (max-width: 768px) {
    .title_input {
        width: 90%;
        
        padding: 13px;

    }

    button {
        font-size: 13px;
        padding: 10px;

        margin-top: 10px;
        margin-bottom: 0px;
    }
}