body {
    background-color: black;
    color: white;

    font-family: "Noto Sans Mono";

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.task_container {
    font-size: 14px;
    text-align: left;

    background: #191919;
    color: white;

    padding: 5px;
    margin: auto;
    margin-top: 10px;

    border: 2px #1e1e1e solid;
    border-radius: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    max-width: 50%;
}


.title_input {
    font-family: "Noto Sans Mono";
    font-size: 14px;

    height: 5%;
    width: 50%;

    background: #191919;
    color: white;

    padding: 10px;

    border: 2px #1e1e1e solid;

    border-radius: 10px;

    transition: 0.3s;
}

.title_input:focus {
    border-bottom-color: white;
    outline: none;
}

button {
    font-family: "Noto Sans Mono";
    font-size: 14px;

    background: #191919;
    color: white;

    padding: 10px;
    margin: 5px;

    border: 2px #1e1e1e solid;
    border-radius: 10px;

    transition: 0.3s;
}

button:hover {
    background-color: rgb(30, 30, 30);

    cursor: pointer;
}

#information-button {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 10px;

    user-select: none;

    transition: 0.3s;
}

#toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #191919;
    color: #fff;

    border: 2px #1e1e1e solid;
    border-radius: 10px;

    padding: 10px;

    user-select: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 0px;
}

.checkbox-container:hover {
    cursor: pointer;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 2px solid #ccc;
    min-width: 15px;
    height: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;

    transition: all 0.3s ease;
}

.checkbox:hover {
    border: 2px solid white;
}

.time {
    background: #191919;
    color: white;

    border: 2px #1e1e1e solid;

    border-radius: 10px;

    padding: 5px;

    outline: none;

    transition: 0.3s;
}

.time:hover {
    cursor: pointer;

    background-color: #1e1e1e;
}

.information_container {
    background: rgba(25, 25, 25, 0.2);
    backdrop-filter: blur(6px);
    color: white;
    margin: 10px auto;
    border: 2px #1e1e1e solid;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}

.information_container::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.information_container button {
    margin: 0px;
}

.information_container h1 {
    margin: 5px;
}

.information_container p {
    margin: 5px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title_input {
        width: 90%;
        padding: 10px;
        font-size: 14px;
        margin: 7px;
    }

    #add-button {
        display: none;
    }

    .task_container {
        max-width: 90%;
        padding: 5px;
        margin-top: 7px;
        font-size: 13px;
    }

    .information_container {
        width: 80%;
    }


}